<%- include('../partials/header', { akunUser:'', divisi: '', karyawan:'active', dashboard: '', loginUser} ) %>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Ubah Data Karyawan</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">

                    <!-- /.card-header -->

                    <form action="/karyawan/edit/<%= _id %>?_method=PUT" method="post" enctype="multipart/form-data">
                        <%- include('formkaryawan.ejs') %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>